body{
    background-color: rgb(184, 222, 255);
}
.main{
    border: none;
    background-color: rgb(0, 136, 255);
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.contador{
    text-align: center;
    font-size: 60px;
}
.botoes{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
button{
    padding: 15px;
    background-color: rgb(148, 205, 255);
    font-size: 20px;
    border: 2px solid rgb(29, 29, 29);
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    transform: translate(-1px, -3px);
    transition: .5s;
    background-color: rgb(169, 215, 255);
}